.todo_header{
    display: grid;
    grid-template-rows: 150px auto;
}
.todo_main{
    display: flex;
    justify-content: space-evenly;
    padding: 20px 8%;
}
.todo_taskList{
    width: 33.33%;
    margin: 20px;
}